body {
    background: #E8C5C5;
    margin-left: 20px;
    margin-right: 300px;
}
header{
    margin-top: 100px;
}
hI {
        color: red;
        font-family: fantasy;
}
h2 { 
        color: blue;
        font-family: fantasy
}

p {
    font-size: 30px;
   
}
.img_padrao{
    margin-bottom: 40px;
    width: 300px;
}
.img_contato{
    margin-bottom: 10px;
    width: 500px;
}